body{
    margin: 0;
   font-family: Calibri, sans-serif;
    background-color: #283341ff;
    color: #fbde44ff;
}
.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #faf578;
    position: fixed;
    height: 100%;
    overflow: auto;
    
}

.sidebar a {
    display: block;
    color: #283341ff;
    padding: 50px;
    text-decoration: none;
}

.sidebar a.active{
    background-color:  #e6e600;
    color: white;
    
}

.sidebar a:hover:not(.active){
    background-color: #c2bc1b;
    color: white;
}

div.content{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px){
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a{ 
        float: left;
    }
    div.content{
        margin-left: 0;
    }
}
    @media screen and (max-width: 600px){
        .sidebar a{
            text-align: center;
            float: none;
        }
    }
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #c2bc1b;
        color: #595604;
        text-align: center;
    }
    hr.solid {
        border-top: 1px solid white;
      }
      .content h1{
          text-align: center;
          padding: 10px;
          font-size: 50px;
          
      }
      .content p{
          text-align: center;
          padding: 10px;
          color: white;
        
      }
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #595604;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      
      #myBtn:hover {
        background-color: #555;
      }

      .responsive-one{
          position: relative;
          overflow: hidden;
          padding-top: 56.25%;

      }

      .responsive-one iframe{
          position: absolute;
          top: 0;
          left: 50px;
          right: 80px;
          width: 80%;
          height: 80%;
      }

      .responsive-two{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

    }

    .responsive-two iframe{
        position: absolute;
        top: 0;
        left: 50px;
        right: 80px;
        width: 80%;
        height: 80%;
    }

    .responsive-three{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

    }

    .responsive-three iframe{
        position: absolute;
        top: 0;
        left: 50px;
        right: 80px;
        width: 80%;
        height: 80%;
    }
    .content span p{
        font-size: 20px;
        color: #fbde44ff;
    }

    .btn-ed{
        width: 50%;
        right: 70px;
    background: #fbde44ff;
    border: 2px solid white;
    color: #03378c;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    
    }

    .btn-d{
        width: 80%;
    background: #fbde44ff;
    border: 2px solid white;
    color: #03378c;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;

    }

    .btn-lu{
        width: 80%;
    background: #fbde44ff;
    border: 2px solid white;
    color: #03378c;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    }


